body {
    background-color: rgb(138, 29, 138);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 5%;
}

article {
    text-align: justify;
}

.selfie {
    width: 15%;
}

.container {
    display: flex;
    height: 10vh;
    border: greenyellow 2px double;
    justify-content: space-around;
    margin-top: 5%;
    align-items: center;
}

.container li {
    background-color: rgb(35, 152, 219);
    border: 2px solid black;
    text-decoration: none;
    list-style-type: none;
}

a {
    text-align: left;
    color: black;
    text-decoration: none;
    line-height: 2em;
    padding: 4px;
    margin: 10px;
}

a:hover {
    color: rgb(131, 236, 149);
    background: black;
}

i {
    color: rgb(60, 224, 60);
    position: relative;
    float: right;
    margin-top: 50px;
    margin-left: 10px;
}

per,
p {
    line-height: 200%;
}

h1,
h2 {
    background-color: rgb(110, 109, 109);
    color: rgb(83, 219, 128);
    text-align: center;
    padding: 10px 5px;
}

h3 {
    text-align: center;
    color: rgb(83, 219, 128);
}

footer {
    background-color: rgb(110, 109, 109);
}

.publications a {
    color: white;
}

.publications a:hover {
    background-color: black;
    color: greenyellow;
}

#email {
    width: 50%;
}

#message {
    width: 50%;
}

#submit {
    border: green 2px solid;
    padding: 1%;
    margin: 1%;
    color: lightgreen;
    background-color: black;
    box-shadow: 2px 2px 3px orange;
}

form {
    text-align: center;
}